<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="virtualrift"/>
    <springProperty scope="context" name="runtimeEnvironment" source="virtualrift.runtime.environment" defaultValue="local"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                          "service": "${applicationName}",
                          "environment": "${runtimeEnvironment}"
                        }
                    </pattern>
                </pattern>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <arguments/>
                <mdc/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
